<div class="title-bar topbar-center-logo-mobile" data-responsive-toggle="topbar-center-logo" data-hide-for="medium">
  <div class="title-bar-left">
    <div class="title-bar-title"><img ng-src="crisp-logo-white.png" alt="Crisp! Logo" /></div>
  </div>
  <div class="title-bar-right">
    <button class="menu-icon" type="button" data-toggle="topbar-center-logo"></button>
  </div>
</div>
<!-- /mobile nav bar -->

<!-- medium and larger nav bar -->
<div class="top-bar topbar-center-logo" id="topbar-center-logo">
  <div class="top-bar-left">
    <ul class="menu vertical medium-horizontal">
      <li><a ui-sref="home"><img ng-src="crisp-logo-white.png" alt="Crisp!" height="50" width="100" /></a></li>
      <li><a ui-sref="home">Home</a></li>
      <li><a ui-sref="userRegistration">Sign up</a></li>
      <li><a ui-sref="signIn">Sign in</a></li>
    </ul>

  </div>
  <div class="top-bar-center">
  </div>
  <div class="top-bar-right">
    <ul class="menu vertical medium-horizontal">
      <li><a ui-sref="users({userId: $ctrl.currentUser.id })">{{$ctrl.currentUser.email}}</a></li>
      <li><a ng-click="$ctrl.signOut()">Log Out</a></li>
    </ul>
  </div>
</div>