<div class="promo-hero promo-hero-bg-image">
  <div class="promo-hero-content">
    <h1 class="promo-hero-title">Where Great Meals Begin! </h1>
    <p class="promo-hero-description hide-for-small-only">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tortor ante, varius eget lacinia porta, faucibus ut eros. Donec quis dui id felis pharetra fermentum.</p>
    <div class="promo-hero-ctas">
      <a href="#" class="promo-section-cta button primary">Order Now</a>
      <a href="#" class="promo-section-cta button white-hollow">Learn More</a>
    </div>
  </div>
</div>
<div >
    <img ng-src="../crisp-Infographic.png{{hash}}" alt="Crisp!" height="100px" width="100px">
    
</div>

<header class="hero-search-filter">
  <div class="hero-search-filter-content">
    <img class="hero-search-filter-logo" src="" alt="" />
    <h1 class="promo-hero-title">Where Great Meals Begin! </h1>
    <form class="hero-search-filter-form" action="">
      <label for="findtext">Find</label>
      <input id="findtext" class="hero-search-filter-form-find" type="text" />
      <div class="divider">&nbsp;</div>
      <label for="findlocate">Near</label>
      <input id="findlocate" class="hero-search-filter-form-near" type="text" />
      <button class="button"><i class="fa fa-search"></i></button>
    </form>
    <ul class="hero-search-filter-menu menu align-center">
      <li><a href="#"><i class="fa fa-cutlery" aria-hidden="true"></i> </a></li>
      <li><a href="#"><i class="fa fa-glass" aria-hidden="true"></i> Nightlife</a></li>
      <li><a href="#"><i class="fa fa-wrench" aria-hidden="true"></i> Home Services</a></li>
      <li><a href="#"><i class="fa fa-cutlery" aria-hidden="true"></i> Delivery</a></li>
    </ul>
  </div>
</header>

