<div class="promo-hero promo-hero-bg-image">
  <div class="promo-hero-content">
    <h1 class="promo-hero-title">Where Great Meals Begin! </h1>
    <p class="promo-hero-description hide-for-small-only">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tortor ante, varius eget lacinia porta, faucibus ut eros. Donec quis dui id felis pharetra fermentum.</p>
    <div class="promo-hero-ctas">
      <a href="#" class="promo-section-cta button primary">Order Now</a>
      <a href="#" class="promo-section-cta button white-hollow">Learn More</a>
    </div>
  </div>
</div>
<div>
    <img src="/crisp-Infographic.png" alt="Crisp!" height="100px" width="100px">
</div>
